observability/nodered/data/flows.json
[
  {
    "id": "tab_wrx_dashboard",
    "type": "tab",
    "label": "Subaru Dashboard",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ui_tab_wrx",
    "type": "ui_tab",
    "name": "WRX",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_cockpit",
    "type": "ui_group",
    "name": " ",
    "tab": "ui_tab_wrx",
    "order": 1,
    "disp": true,
    "width": "24",
    "collapse": false,
    "className": ""
  },
  {
    "id": "mqtt_local",
    "type": "mqtt-broker",
    "name": "Host Mosquitto",
    "broker": "host.docker.internal",
    "port": "1883",
    "clientid": "nodered-wrx-dashboard",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  },
  {
    "id": "mqtt_subaru_data",
    "type": "mqtt in",
    "z": "tab_wrx_dashboard",
    "name": "subaru/data",
    "topic": "subaru/data",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "mqtt_local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 80,
    "wires": [
      [
        "fn_build_dashboard"
      ]
    ]
  },
  {
    "id": "mqtt_subaru_status",
    "type": "mqtt in",
    "z": "tab_wrx_dashboard",
    "name": "subaru/status",
    "topic": "subaru/status",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "mqtt_local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 120,
    "wires": [
      [
        "fn_build_dashboard"
      ]
    ]
  },
  {
    "id": "mqtt_subaru_dtc",
    "type": "mqtt in",
    "z": "tab_wrx_dashboard",
    "name": "subaru/dtc",
    "topic": "subaru/dtc",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "mqtt_local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 145,
    "y": 160,
    "wires": [
      [
        "fn_build_dashboard"
      ]
    ]
  },
  {
    "id": "inject_heartbeat",
    "type": "inject",
    "z": "tab_wrx_dashboard",
    "name": "UI heartbeat",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "ui/tick",
    "payload": "{}",
    "payloadType": "json",
    "x": 140,
    "y": 200,
    "wires": [
      [
        "fn_build_dashboard"
      ]
    ]
  },
  {
    "id": "fn_build_dashboard",
    "type": "function",
    "z": "tab_wrx_dashboard",
    "name": "Build dashboard model",
    "func": "const now = Date.now();\nconst topic = msg.topic || '';\n\nfunction asObj(v) {\n  if (v && typeof v === 'object') return v;\n  if (typeof v === 'string') {\n    try { return JSON.parse(v); } catch (e) { return null; }\n  }\n  return null;\n}\nfunction num(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : NaN;\n}\nfunction fmt(v, digits = 0) {\n  const n = num(v);\n  return Number.isFinite(n) ? n.toFixed(digits) : '--';\n}\nfunction clamp(v, lo, hi) {\n  if (!Number.isFinite(v)) return lo;\n  return Math.max(lo, Math.min(hi, v));\n}\nfunction ageSec(ms) {\n  if (!ms) return 9999;\n  return Math.max(0, Math.round((now - ms) / 1000));\n}\nfunction scoreToAngle(v, min, max) {\n  const pct = clamp((v - min) / (max - min), 0, 1);\n  return Math.round(-130 + pct * 260);\n}\nfunction dtcSeverity(item) {\n  const code = String(item?.code || '').toUpperCase();\n  const title = String(item?.title || '').toLowerCase();\n  if (code.startsWith('P03') || title.includes('misfire') || title.includes('knock')) return 'critical';\n  if (code.startsWith('P02') || code.startsWith('P01') || title.includes('sensor') || title.includes('fuel')) return 'warning';\n  return 'info';\n}\n\nconst state = flow.get('dash_state') || {};\nconst payloadObj = asObj(msg.payload);\n\nif (topic === 'subaru/data' && payloadObj) {\n  state.data = payloadObj;\n  state.lastDataMs = now;\n}\nif (topic === 'subaru/status' && payloadObj) {\n  state.status = payloadObj;\n  state.lastStatusMs = now;\n}\nif (topic === 'subaru/dtc' && payloadObj) {\n  state.dtc = payloadObj;\n  state.lastDtcMs = now;\n\n  const prev = flow.get('known_dtc_codes') || [];\n  const currCodes = (payloadObj.current || []).map(d => d?.code).filter(Boolean);\n  const unique = [...new Set(currCodes)];\n  const newCodes = unique.filter(c => !prev.includes(c));\n  if (newCodes.length > 0) flow.set('dtc_alert', { ts: now, codes: newCodes });\n  flow.set('known_dtc_codes', unique);\n}\n\nflow.set('dash_state', state);\n\nconst data = state.data || {};\nconst metrics = data.metrics || {};\nconst status = state.status || {};\nconst dtc = state.dtc || {};\nconst dtcAlert = flow.get('dtc_alert');\nconst alertActive = !!(dtcAlert && (now - dtcAlert.ts) < 15000);\n\nconst speedMph = num(metrics.vehicle_speed) * 0.621371;\nconst rpm = num(metrics.engine_speed);\nconst coolant = num(metrics.coolant_temperature);\nconst boost = num(metrics.manifold_relative_pressure);\nconst battery = num(metrics.battery_v);\nconst throttle = num(metrics.throttle_opening_angle);\nconst afr = num(metrics.afr_sensor_1);\nconst knock = num(metrics.knock_correction);\n\nconst dataAge = ageSec(state.lastDataMs);\nconst dtcAge = ageSec(state.lastDtcMs);\n\nlet freshness = 'ok';\nif (dataAge > 5) freshness = 'warn';\nif (dataAge > 12) freshness = 'bad';\n\nlet coolantState = 'ok';\nif (coolant >= 100) coolantState = 'warn';\nif (coolant >= 108) coolantState = 'bad';\n\nconst cur = (dtc.current || []).map(d => ({ ...d, sev: dtcSeverity(d) }));\nconst hist = (dtc.historic || []).map(d => ({ ...d, sev: dtcSeverity(d) }));\n\nconst rpmPct = clamp(rpm / 8000, 0, 1);\nconst shiftLevel = Math.round(rpmPct * 10);\nconst shiftBlink = rpm >= 6500;\n\nmsg.payload = {\n  ts: new Date(now).toISOString(),\n  status: {\n    romId: status.rom_id || data.rom_id || '--',\n    profile: status.profile || data.profile || '--',\n    mqttConnected: !!status.mqtt_connected,\n    running: status.state === 'running',\n    freshness,\n    dataAgeSec: dataAge,\n    dtcAgeSec: dtcAge,\n    lastMsgLabel: dataAge + 's ago'\n  },\n  shift: {\n    level: shiftLevel,\n    blink: shiftBlink\n  },\n  gauges: {\n    speed: { label: 'Speed', value: fmt(speedMph, 0), unit: 'mph', angle: scoreToAngle(speedMph, 0, 160) },\n    rpm: { label: 'RPM', value: fmt(rpm, 0), unit: 'rpm', angle: scoreToAngle(rpm, 0, 8000) }\n  },\n  coolant: {\n    value: fmt(coolant, 0),\n    unit: 'C',\n    state: coolantState\n  },\n  chips: [\n    { k: 'Boost', v: fmt(boost, 1), u: 'psi' },\n    { k: 'Battery', v: fmt(battery, 2), u: 'V' },\n    { k: 'Throttle', v: fmt(throttle, 0), u: '%' },\n    { k: 'AFR', v: fmt(afr, 2), u: 'lambda' },\n    { k: 'Knock', v: fmt(knock, 1), u: 'deg' }\n  ],\n  dtc: {\n    currentCount: Number(dtc.count_current || 0),\n    historicCount: Number(dtc.count_historic || 0),\n    current: cur,\n    historic: hist,\n    alert: alertActive,\n    newCodes: alertActive && dtcAlert ? dtcAlert.codes : []\n  }\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 130,
    "wires": [
      [
        "ui_template_dashboard"
      ]
    ]
  },
  {
    "id": "ui_template_dashboard",
    "type": "ui_template",
    "z": "tab_wrx_dashboard",
    "group": "ui_group_cockpit",
    "name": "WRX Dark Cockpit",
    "order": 1,
    "width": "24",
    "height": "14",
    "format": "<style>\n.nr-dashboard-theme md-toolbar,\n.nr-dashboard-theme md-sidenav,\n.nr-dashboard-theme .md-sidenav-left,\n.nr-dashboard-theme .nr-dashboard-tab,\n.nr-dashboard-theme .nr-dashboard-menu,\n.nr-dashboard-theme .nr-dashboard-cardtitle,\n.nr-dashboard-theme .md-toolbar-tools { display:none !important; }\n.nr-dashboard-theme md-toast,\n.nr-dashboard-theme .md-toast-open-top,\n.nr-dashboard-theme .md-toast-open-bottom { display:none !important; }\n\nhtml, body, #nr-dashboard, .nr-dashboard-theme, .nr-dashboard-theme md-content {\n  margin: 0 !important;\n  padding: 0 !important;\n  width: 100% !important;\n  height: 100% !important;\n  overflow: hidden !important;\n  background: #040506 !important;\n}\n.nr-dashboard-theme .nr-dashboard-cardcontainer { margin:0 !important; padding:0 !important; background:#040506 !important; }\n\n.v5 {\n  position: fixed;\n  top: 0;\n  left: 0;\n  bottom: 0;\n  width: calc(50vw - 4px);\n  color: #eef3ff;\n  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;\n  padding: 6px;\n  box-sizing: border-box;\n  background: linear-gradient(180deg, #0a0a0b 0%, #08090b 45%, #050506 100%);\n  border: 1px solid #2a1f15;\n  box-shadow: 3px 0 0 #10151f;\n  overflow:hidden;\n}\n.v5::after {\n  content:\"\";\n  position:absolute;\n  left:0;\n  right:0;\n  bottom:0;\n  height:24px;\n  background:linear-gradient(180deg, rgba(6,7,10,0), rgba(6,7,10,0.95));\n  pointer-events:none;\n  z-index:20;\n}\n\n.shiftbar {\n  display: grid;\n  grid-template-columns: repeat(10, 1fr);\n  gap: 4px;\n  margin-bottom: 4px;\n}\n.light {\n  height: 7px;\n  border-radius: 4px;\n  background: rgba(255,255,255,0.08);\n  border: 1px solid rgba(255,150,50,0.2);\n}\n.light.active { background:#ff9a2f; box-shadow:0 0 8px rgba(255,154,47,0.55); }\n.light.active.hot { background:#ff7a2b; box-shadow:0 0 9px rgba(255,122,43,0.6); }\n.light.active.red { background:#ff4f4f; box-shadow:0 0 10px rgba(255,79,79,0.75); }\n.blink .light.active.red { animation: flash .25s steps(1,end) infinite; }\n@keyframes flash { 50% { opacity: 0.25; } }\n\n .topline {\n  display:flex;\n  flex-direction:column;\n  align-items:flex-start;\n  gap:4px;\n  font-size:9px;\n  color:#c6b6a0;\n  margin-bottom:5px;\n}\n.brand { letter-spacing:0.35px; color:#ffb45b; font-weight:600; padding-top:2px; font-size:9px; max-width:100%; line-height:1.2; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }\n.pills { white-space:normal; display:flex; flex-wrap:wrap; justify-content:flex-start; gap:4px; margin-top:0; max-width:100%; }\n.pill { display:inline-block; padding:1px 6px; margin-left:0; border:1px solid #564029; border-radius:999px; font-size:8px; color:#ffc989; }\n.pill.ok { color:#77ebb2; border-color:#2e845e; }\n.pill.warn { color:#ffd88c; border-color:#9a7a39; }\n.pill.bad { color:#ff9fb1; border-color:#a0465c; }\n\n.shell {\n  height: calc(100% - 37px);\n  display: grid;\n  grid-template-rows: 32% 8% 60%;\n  gap: 6px;\n}\n.top-grid {\n  min-height: 0;\n  display: grid;\n  grid-template-columns: 1fr 1fr 1.05fr;\n  gap: 6px;\n}\n.card {\n  border-radius:12px;\n  border:1px solid #372a1d;\n  background: linear-gradient(180deg, rgba(255,148,43,0.14), rgba(20,21,25,0.74));\n  box-shadow: inset 0 0 0 1px rgba(255,173,94,0.05);\n}\n.gauge { padding:6px; display:flex; flex-direction:column; }\n.gl { font-size:11px; color:#f0c68d; }\n.dial {\n  width:92px; height:92px; margin:auto; border-radius:50%; position:relative;\n  background: radial-gradient(circle at 50% 50%, #101116 47%, #281f17 48%, #4a3522 53%, #2a2119 58%, transparent 58%),\n              conic-gradient(from -130deg, rgba(255,175,88,0.95) 0deg, rgba(255,175,88,0.22) 182deg, rgba(255,120,80,0.95) 183deg, rgba(255,80,80,0.9) 230deg, rgba(70,45,33,0.9) 231deg);\n}\n.dial::before { content:''; position:absolute; inset:20px; border-radius:50%; background:#0b0f18; border:1px solid #4b3a27; }\n.needle {\n  position:absolute; left:50%; top:50%; width:2px; height:38px; transform-origin:50% 92%;\n  background: linear-gradient(180deg, #ffe0ab 0%, #ff9f45 100%);\n  box-shadow:0 0 10px rgba(255,168,82,0.75);\n}\n.hub { position:absolute; left:50%; top:50%; width:12px; height:12px; margin-left:-6px; margin-top:-6px; border-radius:50%; background:#ffbb66; box-shadow:0 0 10px rgba(255,187,102,0.8); }\n.g-val { position:absolute; left:0; right:0; bottom:14px; text-align:center; z-index:2; font-size:28px; line-height:0.95; font-weight:700; }\n.g-unit { display:block; font-size:11px; color:#cfb38d; font-weight:500; margin-top:3px; }\n\n.coolant {\n  padding:7px 9px;\n  display:grid;\n  grid-template-rows:auto 1fr auto auto;\n  gap:5px;\n  overflow:hidden;\n  border-radius:12px;\n  border:1px solid #394b64;\n  background:\n    radial-gradient(140% 130% at 15% 0%, rgba(59,178,255,0.14), rgba(11,17,28,0) 60%),\n    linear-gradient(180deg, #0e1728 0%, #090f1b 100%);\n}\n.coolant-head {\n  display:flex;\n  flex-direction:column;\n  align-items:flex-start;\n  gap:4px;\n}\n.coolant-title {\n  font-size:10px;\n  letter-spacing:1.0px;\n  text-transform:uppercase;\n  color:#8ec9ff;\n}\n.coolant-state {\n  font-size:8px;\n  letter-spacing:0.8px;\n  text-transform:uppercase;\n  border-radius:999px;\n  padding:1px 7px;\n  border:1px solid #446282;\n  color:#c8e0ff;\n  background:rgba(70,106,145,0.22);\n}\n.coolant-body {\n  display:flex;\n  justify-content:center;\n  align-items:baseline;\n  gap:8px;\n  min-height:0;\n}\n.coolant-value {\n  font-family:'Orbitron', monospace;\n  font-size:46px;\n  line-height:0.9;\n  font-weight:700;\n  color:#e8f3ff;\n  text-shadow:0 0 14px rgba(96,186,255,0.24);\n}\n.coolant-unit {\n  font-size:16px;\n  color:#8fb7ea;\n  margin-bottom:0;\n}\n.coolant-bar {\n  height:6px;\n  border-radius:999px;\n  background:rgba(255,255,255,0.08);\n  border:1px solid rgba(255,255,255,0.10);\n  overflow:hidden;\n}\n.coolant-fill {\n  height:100%;\n  width:55%;\n  border-radius:999px;\n  background:linear-gradient(90deg, #43b7ff 0%, #4ce0db 70%, #8cff9c 100%);\n  box-shadow:0 0 12px rgba(76,224,219,0.45);\n}\n.coolant-scale {\n  display:flex;\n  justify-content:space-between;\n  color:#86a8d4;\n  font-size:8px;\n  letter-spacing:0.2px;\n}\n.coolant.ok {\n  border-color:#2e5e8d;\n  box-shadow: inset 0 0 0 1px rgba(105,173,255,0.18);\n}\n.coolant.ok .coolant-state {\n  border-color:#2f7f5a;\n  color:#96f0c2;\n  background:rgba(47,127,90,0.22);\n}\n.coolant.ok .coolant-fill {\n  background:linear-gradient(90deg, #43b7ff 0%, #4ce0db 70%, #8cff9c 100%);\n}\n.coolant.warn {\n  border-color:#c18a3b;\n  box-shadow: inset 0 0 0 1px rgba(255,198,108,0.26);\n}\n.coolant.warn .coolant-state {\n  border-color:#b98a3c;\n  color:#ffe0a9;\n  background:rgba(185,138,60,0.22);\n}\n.coolant.warn .coolant-fill {\n  background:linear-gradient(90deg, #61c0ff 0%, #ffd166 72%, #ffb347 100%);\n  box-shadow:0 0 12px rgba(255,188,86,0.45);\n}\n.coolant.bad {\n  border-color:#c84a4a;\n  box-shadow: inset 0 0 0 1px rgba(255,124,124,0.34), 0 0 10px rgba(255,76,76,0.24);\n}\n.coolant.bad .coolant-state {\n  border-color:#d35d5d;\n  color:#ffc3c3;\n  background:rgba(211,93,93,0.22);\n}\n.coolant.bad .coolant-fill {\n  background:linear-gradient(90deg, #6fc4ff 0%, #ff9f6b 60%, #ff5f6d 100%);\n  box-shadow:0 0 14px rgba(255,107,107,0.5);\n}\n\n.mini-row { display:grid; grid-template-columns: repeat(4, minmax(0, 1fr)); gap:6px; min-height:0; }\n.chip { padding:1px 5px; border-radius:9px; border:1px solid #3b2e20; background:linear-gradient(180deg, rgba(255,145,30,0.14), rgba(16,18,22,0.72)); }\n.ck { font-size:9px; color:#d6b58f; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }\n.cv2 { font-size:13px; font-weight:700; line-height:1.0; white-space:nowrap; }\n.cu { font-size:10px; color:#c7aa89; margin-left:2px; }\n\n.dtc-strip {\n  min-height:0;\n  display:flex;\n  flex-direction:column;\n  border-radius:12px;\n  border:1px solid #523a22;\n  background: linear-gradient(180deg, rgba(49,39,27,0.74), rgba(14,15,19,0.95));\n  box-shadow: inset 0 0 0 1px rgba(255,186,110,0.12);\n  padding:7px;\n}\n.dtc-strip.alert {\n  border-color:#ff6a52;\n  box-shadow: inset 0 0 0 1px rgba(255,106,82,0.6), 0 0 14px rgba(255,106,82,0.28);\n}\n.dtc-hdr { display:flex; justify-content:space-between; align-items:center; margin-bottom:4px; }\n.dtc-hdr .t { font-size:24px; font-weight:800; color:#ffba63; line-height:1; }\n.dtc-hdr .m { font-size:11px; color:#d0b089; }\n.ev { margin:0 0 6px 0; border:1px solid #7b5528; border-radius:7px; padding:3px 6px; font-size:10px; color:#ffd6a4; background:linear-gradient(90deg, rgba(255,173,94,0.2), rgba(255,173,94,0.06)); }\n.ev.alert { border-color:#ff6a52; color:#ffb8aa; background:linear-gradient(90deg, rgba(255,106,82,0.24), rgba(255,106,82,0.08)); }\n.dtc-list {\n  display:flex;\n  gap:6px;\n  overflow-x:auto;\n  padding-bottom:2px;\n}\n.dtc-item {\n  min-width: 170px;\n  border:1px solid #432f1f;\n  border-radius:8px;\n  padding:5px 6px;\n  background: rgba(13,12,14,0.55);\n  font-size:12px;\n  line-height:1.25;\n  color:#f4ece3;\n}\n.dtc-item .code { font-weight:700; margin-right:4px; }\n.sev-critical .code { color:#ff8ea5; }\n.sev-warning .code { color:#ffcf86; }\n.sev-info .code { color:#ffc989; }\n.watermark {\n  position: absolute;\n  z-index: 21;\n  right: 10px;\n  bottom: 6px;\n  font-size: 10px;\n  letter-spacing: 0.6px;\n  text-transform: uppercase;\n  color: rgba(255,178,92,0.36);\n  pointer-events: none;\n}\n\n.race-pane {\n  position: fixed;\n  top: 0;\n  right: 0;\n  bottom: 0;\n  width: 50vw;\n  background: #06080c;\n  border-left: 2px solid #10151f;\n}\n.race-frame {\n  width: 100%;\n  height: 100%;\n  border: 0;\n  display: block;\n  background: #000;\n}\n\n\n</style>\n\n<div class=\"v5\" ng-if=\"msg.payload\">\n  <div class=\"shiftbar\" ng-class=\"{'blink': msg.payload.shift.blink}\">\n    <span class=\"light\" ng-repeat=\"n in [1,2,3,4,5,6,7,8,9,10] track by $index\" ng-class=\"{'active': msg.payload.shift.level >= n, 'hot': n >= 7, 'red': n >= 9}\"></span>\n  </div>\n\n  <div class=\"topline\">\n    <div class=\"brand\">WRX TELEMETRY // {{msg.payload.status.romId}} // {{msg.payload.status.profile}} // LAST MSG {{msg.payload.status.lastMsgLabel}}</div>\n    <div class=\"pills\">\n      <span class=\"pill\" ng-class=\"msg.payload.status.mqttConnected ? 'ok' : 'bad'\">MQTT {{msg.payload.status.mqttConnected ? 'OK' : 'DOWN'}}</span>\n      <span class=\"pill\" ng-class=\"msg.payload.status.running ? 'ok' : 'bad'\">LOGGER {{msg.payload.status.running ? 'RUN' : 'STOP'}}</span>\n      <span class=\"pill\" ng-class=\"msg.payload.status.freshness\">DATA {{msg.payload.status.dataAgeSec}}s</span>\n      <span class=\"pill\">DTC {{msg.payload.status.dtcAgeSec}}s</span>\n    </div>\n  </div>\n\n  <div class=\"shell\">\n    <div class=\"top-grid\">\n      <div class=\"card gauge\">\n        <div class=\"gl\">{{msg.payload.gauges.speed.label}}</div>\n        <div class=\"dial\">\n          <div class=\"needle\" ng-style=\"{'transform':'translate(-50%,-92%) rotate(' + msg.payload.gauges.speed.angle + 'deg)'}\"></div>\n          <div class=\"hub\"></div>\n          <div class=\"g-val\">{{msg.payload.gauges.speed.value}}<span class=\"g-unit\">{{msg.payload.gauges.speed.unit}}</span></div>\n        </div>\n      </div>\n      <div class=\"card gauge\">\n        <div class=\"gl\">{{msg.payload.gauges.rpm.label}}</div>\n        <div class=\"dial\">\n          <div class=\"needle\" ng-style=\"{'transform':'translate(-50%,-92%) rotate(' + msg.payload.gauges.rpm.angle + 'deg)'}\"></div>\n          <div class=\"hub\"></div>\n          <div class=\"g-val\">{{msg.payload.gauges.rpm.value}}<span class=\"g-unit\">{{msg.payload.gauges.rpm.unit}}</span></div>\n        </div>\n      </div>\n      <div class=\"card coolant\" ng-class=\"msg.payload.coolant.state\">\n        <div class=\"coolant-head\">\n          <div class=\"coolant-title\">Coolant Temp</div>\n          <div class=\"coolant-state\" ng-if=\"msg.payload.coolant.state==='ok'\">Normal</div>\n          <div class=\"coolant-state\" ng-if=\"msg.payload.coolant.state==='warn'\">Warm</div>\n          <div class=\"coolant-state\" ng-if=\"msg.payload.coolant.state==='bad'\">Hot</div>\n        </div>\n        <div class=\"coolant-body\">\n          <div class=\"coolant-value\">{{msg.payload.coolant.value}}</div>\n          <div class=\"coolant-unit\">{{msg.payload.coolant.unit}}</div>\n        </div>\n        <div class=\"coolant-bar\">\n          <div class=\"coolant-fill\" ng-style=\"{'width': (msg.payload.coolant.state==='ok' ? '55%' : (msg.payload.coolant.state==='warn' ? '78%' : '95%'))}\"></div>\n        </div>\n        <div class=\"coolant-scale\">\n          <span>80</span><span>90</span><span>100</span><span>110+</span>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"mini-row\">\n      <div class=\"chip\" ng-repeat=\"c in msg.payload.chips | limitTo:4 track by $index\">\n        <div class=\"ck\">{{c.k}}</div>\n        <div class=\"cv2\">{{c.v}}<span class=\"cu\">{{c.u}}</span></div>\n      </div>\n    </div>\n\n    <div class=\"dtc-strip\" ng-class=\"{'alert': msg.payload.dtc.alert}\">\n      <div class=\"dtc-hdr\">\n        <div class=\"t\">DTC</div>\n        <div class=\"m\">Active {{msg.payload.dtc.currentCount}}</div>\n      </div>\n      <div class=\"ev\" ng-class=\"{'alert': msg.payload.dtc.alert}\">\n        <span ng-if=\"msg.payload.dtc.alert\">New: {{msg.payload.dtc.newCodes.join(', ')}}</span>\n        <span ng-if=\"!msg.payload.dtc.alert\">No new DTC event</span>\n      </div>\n      <div class=\"dtc-list\">\n        <div class=\"dtc-item\" ng-repeat=\"d in msg.payload.dtc.current track by $index\" ng-class=\"'sev-' + d.sev\">\n          <span class=\"code\">{{d.code}}</span>{{d.title}}\n        </div>\n        <div class=\"dtc-item\" ng-if=\"!msg.payload.dtc.current.length\">None</div>\n      </div>\n    </div>\n  </div>\n\n<div class=\"watermark\">rangabanga racing</div>\n</div>\n\n<div class=\"race-pane\">\n  <iframe id=\"race-frame\" class=\"race-frame\" src=\"about:blank\" loading=\"eager\" referrerpolicy=\"no-referrer\"></iframe>\n</div>\n<script>\n(function() {\n  var frame = document.getElementById(\"race-frame\");\n  if (!frame) return;\n  var host = window.location.hostname || \"127.0.0.1\";\n  frame.src = window.location.protocol + \"//\" + host + \":8091/\";\n})();\n</script>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 700,
    "y": 130,
    "wires": [
      []
    ]
  }
]